<ion-navbar *navbar>
  <ion-title>
    Detail
  </ion-title>
</ion-navbar>

<ion-content class="detail">
  <h1 text-center>View Meeting:</h1>
  <h2 text-center>{{meeting.title}}</h2>
  <h3 text-center>{{meeting.time | date:'medium'}}</h3>
  <button block primary *ngIf="!meeting.scheduled" (click)="track()">
    Track
  </button>
  <button block danger *ngIf="meeting.scheduled" (click)="unTrack()">
    Untrack
  </button>  
  <ion-list>
    <ion-item-sliding *ngFor="let participant of meeting.participants" (click)="editParticipant($event, participant)">
      <ion-item>
          {{participant.name}}
      </ion-item>
      <ion-item-options>
        <button (click)="editParticipant($event, name)">
          Edit {{participant.name}}
          <ion-icon name="contact"></ion-icon>
        </button>
        <button danger (click)="deleteParticipant($event, name)">
          Delete {{participant.name}}
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
